.input {
    width: 600px;
    height: 40px;
    margin: 30px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 7px;
}

.input:hover {
    border-color: #dca31d;
}

.display{
    color: white;
    padding-top: 35px;
    float: right;
    margin-left: 21px;
}

.display a {
    color: white;
}

input::placeholder {
    padding-left: 10px;
}

.navbar-nav {
    margin-left: 440px;
    margin-top: 10px;
}

ul.navbar-nav li a {
    color: #fff;
}

ul.navbar-nav li {
    background-color: black;
}

ul.navbar-nav li:hover {
    background-color: #dca31d;
    transition-duration: 1s;
}

.section-heading {
    border-bottom: 3px solid #dca31d;
    width: 100%;
    padding: 7px 0px;
    font-weight: 650;
}

.search-make .row .col {
    border: 1px solid black;
    box-sizing:content-box;
    justify-content: center;
    text-align: center;
    padding: 6px 6px ;
}

.search-make .row .col a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.search-make .row .col:hover {
    border-color: #dca31d;
    box-shadow: 3px 3px 15px #dca31d;
    transition: 0.8s;
}

.search-type .row .col {
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding: 6px 6px;
}

.search-type .row .col a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.search-type .row .col:hover {
    border-color: #dca31d;
    box-shadow: 3px 3px 15px #dca31d;
    transition: 0.8s;
}

.car-logos a.view-all-btn {
    margin-left: 190px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #dca31d;
    text-decoration: none;
    color: black;
    display: table;   
    width: 170px;
    padding-left: 30px;
}

.car-logos a.view-all-btn:hover {
    border-color: #dca31d;
    box-shadow: 8px 6px 7px #dca31d;
    transition: 0.8s;
    color: #dca31d;
}


.view-btn {
    background-color: #dca31d;
    justify-content: center;
    margin-left: 180px;
    width: 40%;
}

.view-btn:hover {
    box-shadow: 8px 6px 7px #dca31d;
    transition: 0.8s;

}

.text-sec {
    background-color: #dca31d;
    height: 70px;
    padding-top: 10px;
}

.divs a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: small;
}

.divs .col-sm-3:hover {
    transition: 0.8s;
    box-shadow: 8px 6px 7px #dca31d;
    background-color: #dca31d;
}

.image-content {
    border: 1px solid #dca31d;
    height: 340px;
}

.price-text {
    color: black;
    float: right;
    padding-top: 7px;
    padding-right: 10px;
}

.div-btn a {
    border: 1px solid #dca31d;
    width: 170px;
    margin-left: 490px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-left: 30px;
} 

.div-btn a:hover {
    color: #dca31d;
    box-shadow: 8px 6px 7px #dca31d;
    transition: 0.8s;
}

.yellow-border a {
    text-decoration: none;
    float: right;
    padding: 0px 10px;
}

.yellow-border a:hover {    
    transition: 1s;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.search-form{
    padding-left: 50px;
    box-shadow: 0px 0px 20px 4px #dca31d30;
}

.search-btn { 
    margin-top: 35px;
    margin-left: 30px;
    width: 150px;
    height: 40px;
    background-color: #dca31d;
    font-weight: 500;
    border: 1px solid #dca31d;
    box-shadow: 1px 2px 2px black;

}

.search-btn:hover {
    box-shadow: 4px 5px #f9d14d;
    transition: 0.8s;
}